always-auth=true
@shawnphoffman:registry=https://npm.pkg.github.com/shawnphoffman
//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN
//npm.pkg.github.com/shawnphoffman/:_authToken=$GITHUB_TOKEN
registry=https://registry.npmjs.org