/* VARS */
:root {
	--bg: #000;
	--white: #fff;

	--js1: #ffee00;
	--js2: #be2413;
	--js3: #47c8ff;
	--js4: #130402;
}

/* DEFAULTS */
html {
	@apply bg-black;
}

html body {
	@apply h-full p-0 m-0 overflow-hidden text-white;
	font-size: 16px;
	width: 100vw;
}

a {
	transition: color 150ms ease-in;
	color: var(--js3);
	text-decoration: none;
	padding-bottom: 3px;
}
a:not(.wow):hover {
	/* color: var(--js3); */
	/* background-image: url('../../public/squiggle.svg'); */
	/* background-position: 0 100%; */
	/* background-size: auto 36px; */
	/* background-repeat: repeat; */
	/* text-decoration: none !important; */
	/* border-bottom: none; */
	/* word-break: break-word; */
}

/* USED */
.scroller {
	width: 100%;
	height: 100dvh;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 16px 0px 16px;
	overflow: scroll;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
	min-height: 100vh;
}

.pageDetails {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 1rem;
}

.pageDescription {
	font-size: 1.1rem;
	line-height: 1.5;
	width: 100%;
	max-width: 800px;
}
@media screen and (max-width: 420px) {
	.pageDescription {
		font-size: 1rem;
	}
}

.pageRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	transform: translateZ(0px);
	width: 100%;
	gap: 1rem;
}

.header {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
}

.episodesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 720px;
	width: 100%;
}

.ratingsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;

	/* TEMP */
	min-height: 24.5px;
}

/* BRANDS */
/* .applepodcasts {
	background: #872ec4;
}
.spotify {
	background: #16883e;
}
.twitter {
	background: #0d7ac4;
}
.teepublic {
	background: #374ecd;
}
.overcast {
	background: #be5a01;
}
.youtube {
	background: #ee0000;
}
.googlepodcasts {
	background: #206ff2;
}
.goodpods {
	background: #fcdb00;
}
.amazonmusic {
	background: #0077c1;
}
.iheart {
	background: #c6002b;
}
.pocketcasts {
	background: #ea150d;
}
.castbox {
	background: #db3c0e;
}
.zencastr {
	background: #1474e0;
}
.rss {
	background: #ce4a0c;
}
.facebook {
	background: #0866ff;
}
.bluesky {
	background: #0560ff;
}
.instagram {
	background: #c13584;
}
.etsy {
	background: #f56400;
}
.radiopublic {
	background: #ce262f;
}
.podbean {
	background: #5f7e1b;
}
.googlepodcasts {
	background: #206ff2;
}
.email {
	background: #52565e;
} */
