:root {
	--bg: #000;
	--white: #fff;
	--patreon: #f96854;
	--applePodcasts: #872ec4;
	--yellow: rgb(237, 237, 55);

	--js1: #00c875;
	--js2: #004040;
	--js3: #ffee00;
	--js4: hsl(180, 100%, 5%);

	--logo7: blue;
	--logo6: #33f;
	--logo5: #66f;
	--logo4: #99f;
	--logo3: #ccf;
	--logo2: #f0f0ff;

	--logo: var(--logo3);
}

* {
	box-sizing: border-box;
	/* font-family: 'Open Sans', sans-serif; */
}

html {
	background: var(--bg);
	background: linear-gradient(180deg, var(--bg), var(--js4) 100%);
}
html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	/* font-family: 'Open Sans', sans-serif; */
	box-sizing: border-box;
	color: var(--white);
	/* Stars */
	height: 100%;
	overflow: hidden;
}

/*  */

.js-title {
	height: 100dvh;
	font-size: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*  */

.scroller {
	width: 100%;
	height: 100dvh;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 16px 0px 16px;
	overflow: scroll;
}

a {
	color: var(--white);
	text-decoration: none;
}
a:hover {
	color: var(--white);
}
